{% load static %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="{% static 'main_site/css/boostrap/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'main_site/css/style.css' %}">
<link rel="stylesheet" href="{% static 'main_site/css/landing-page.min.css' %}">
<link rel="stylesheet" href="{% static 'main_site/vendor/simple-line-icons/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'main_site/vendor/fontawesome-free/css/all.min.css' %}">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
